<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yumumu.lotterystatistic.dao.mapper.CurrentNumMapper">

    <resultMap id="BaseResultMap" type="com.yumumu.lotterystatistic.dao.domain.CurrentNum">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="reds" column="reds" jdbcType="VARCHAR"/>
            <result property="blues" column="blues" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,reds,blues
    </sql>
</mapper>
